*{
    margin: 0;
    padding: 0;    
}
#onee{
    background-color: dodgerblue;
    height: 4px;
    width: 1530px;
    border-style: hidden;
}
#one{
    background-color: whitesmoke;
    height: 120px;
    width: 1530px;
    border-style: hidden;
}
.aa{
    border-style: solid;
    position: absolute;
    padding: 18px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    margin-left: 250px;
    font-size: 40px;
    background-color: white;
    color: dodgerblue;
    border-radius: 120%;
}
.aa:hover{
    background-color: skyblue;
    color: white;
}
#one img{
    position: absolute;
    height: 120px;
    width: 240px;;
    margin-left: 740px;
}
#two{
    background-color: dodgerblue;
    height: 4px;
    width: 1530px;
    border-style: hidden;
}
#three{
    background-color: skyblue;
    height: 46px;
    width: 1530px;
    border-style: hidden;
}
.a{
    border-style: hidden;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    margin-left: 60px;
}
.a:hover{
    background-color: dodgerblue;
    color: white;
}
.b{
    border-style: hidden;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    margin-left: 208px;
}
.b:hover{
    background-color: dodgerblue;
    color: white;}
.c{
    border-style: hidden;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    margin-left: 330px;
}
.c:hover{
    background-color: dodgerblue;
    color: white;}

.d{
    border-style: hidden;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    margin-left: 430px;
}
.d:hover{
    background-color: dodgerblue;
    color: white;
}

.e{
    border-style: hidden;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    margin-left: 510px;
}
.e:hover{
    background-color: dodgerblue;
    color: white;}

.j{
    border-style: hidden;
    padding: 12px;
    text-align: center;
    font-size: 18px;
    position: absolute;
    margin-left: 670px;
}
.j:hover{
    background-color: dodgerblue;
    color: white;}
#four{
    background-color: dodgerblue;
    height: 2px;
    width: 1530px;
    border-style: hidden;
}   

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
    
#five{
    height: 20px;
    width: 1530px;
    border-style: hidden;
    float: left;
}
.www{
    font-size: 28px;
    padding-top: 30px;
    margin-left: 650px;
    font-style: oblique;
    color: cadetblue;
}
.ww{
    height: 145px;
    width: 950px;
    border-style: hidden;
    float: left;
    margin-top: 20px;
    margin-left: 300px;
    font-size: 20px;
    font-style: oblique;
    color: cadetblue;
}
#five img{
   margin-left: 500px;
   margin-top: 10px;
   padding-top: 10px;
   width: 500px;
}
#seven{
    background-color: dodgerblue;
    height: 5px;
    width: 1530px;
    border-style: hidden;
    margin-top: 692px;
}
#eight{
    background-color: skyblue;
    height: 130px;
    width: 1530px;
    border-style: hidden;
    margin-top: 5px;
}
.t{
    font-style: oblique;
    color: darkblue;
    margin-left: 40px;
    font-size: 20px;
    padding-top: 40px;
    padding-left: 500px; 
}